{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Jouet list</h1>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>

                <th>Description</th>

            </tr>
        </thead>
        <tbody>
        {% for jouet in jouet %}
            <tr>
                <td><a href="{{ path('jouet_show', { 'id': jouet.id }) }}">{{ jouet.nom }}</a></td>
                <td>{{ jouet.description }}</td>

                <td><a href="{{ path('jouet_show', { 'id': jouet.id }) }}"><img class="thumbnail col-xs-4" src="{{ jouet.vignette }}"></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
