{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Jouet</h1>

<div style="">
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jouet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ jouet.nom }}</td>
            </tr>
            <tr>

                <th>Description</th>
                <td><p>{{ jouet.description }}</p></td>
            </tr>
            <tr>

                <td><img class="jouet" src="{{ jouet.vignette }}"></td>
            </tr>
        </tbody>
    </table>
</div>

    <ul>
        <li>
            <a href="{{ path('jouet_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}
